@import "../app/var.scss";

.tabs-menu-inner {
    overflow-x: auto;
    overflow-y: hidden;
}

.tabs-menu {
    display: flex;
    margin-top: 7px;
    padding: 0 24px;
    border-bottom: 1px solid $color-gray-second;
    box-sizing: border-box;

    &__item {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $color-text;
        box-sizing: border-box;
        padding: 14px 16px 10px;
        margin-bottom: -1px;
        cursor: pointer;
        white-space: nowrap;

        &.active {
            color: $color-green;
            border: 1px solid $color-gray-second;
            border-bottom: 1px solid $color-white;
            border-radius: 6px 6px 0px 0px;
        }
    }
}

.tab-content {
    padding: 40px 60px 15px;

    @media only screen and (max-width: $media-mobile) {
        padding: 20px;
    }
}