$media-mobile: 980px;
$color-white: #fff;
$color-green: #00A651;
$color-green-second: #2EB670;
$color-hover-green: #3ed185;
$color-gray: #F3F3F3;
$color-gray-second: #DBDCDE;
$color-link: #6665DD;
$color-text: #2F2F30;
$color-border: #A9ABAE;
$color-footer: #FFFBEC;