@import "../app/var.scss";

.right-block {
    width: 21.6%;
    margin-left: 2%;
    border: 1px solid #DBDCDE;
    box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    position: sticky;
    top: 23px;

    @media only screen and (max-width: $media-mobile) {
        width: 100%;
        margin-left: 0;
        position: relative;
        margin-bottom: 50px;
    }

    &__element {
        display: flex;
        align-items: center;
        padding: 15.5px 15px;
        border-bottom: 1px solid #DBDCDE; 
        box-sizing: border-box;
        cursor: pointer;

        &:first-of-type {
            border-radius: 8px 8px 0 0;
            border-top: none;
        }

        &:last-of-type {
            border-radius: 0px 0px 8px 8px;
            border-bottom: none;
        }

        &:hover {
            background-color: #F3F3F3;
        }

        &-image {
            margin-right: 9px;
            max-width: 18px;
        }

        &-text {
            word-break: break-word;
        }
    }
}